:root{
    --padding-default: 0 20px 0 20px;
    --padding-header: 20px 20px 0 20px;
    --font-size-default--title: 32px;
    --font-size-default-text: 16px;
    --font-color-text: darkgray;
    --font-size-default--name: 20px;
    --secundary-bg-color: #404040;
}

.full__container{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.header__container{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 5vh;
    padding: var(--padding-header);
    padding-bottom: 50px;
    font-size: var(--font-size-default--name);
}

.hamburger__menu__logo{
    width: 100%;
    height: 100%;
}

.main__text__container{
    padding: var(--padding-header);
}

.main__text__container h1{
    color: white;
    font-size: 35px;
    text-align: left;
    padding-bottom: 20px;

}
.main__text__container p{
    font-size: var(--font-size-default-text);
    color: var(--font-color-text);
    text-align:left;
    line-height: 25px;
    padding-bottom: 80px;
}


.logo__container{
    display: grid;
    grid-template-areas: 
    "walmart jpmorgan"
    "visa    tinder"
    "samsung verizon"
    ;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
}

.logo__walmart{
    grid-area: walmart;
    justify-self: flex-end;
    
}

.logo__jpmorgan{
    grid-area: jpmorgan;
}

.logo__visa{
    grid-area: visa;
    justify-self:flex-end;
    width: 40%;
}

.logo__tinder{
    grid-area: tinder;
    
}

.logo__samsung{
    grid-area: samsung;
    justify-self: flex-end;
    width: 90%;
    padding-top: 5px;
}

.logo__verizon{
    grid-area: verizon;
    justify-self: flex-end;
}

.projects__container{
    padding: var(--padding-header);
}
.projects__container h2{
    font-size: 39px;
    padding-bottom: 15px;
}

.projects__container p{
    font-size: var(--font-size-default-text);
    color: var(--font-color-text);
    line-height: 25px;
    text-align:left;
    letter-spacing: 0.5px;
}

.projects__container p:last-child{
    padding-bottom: 70px;
}

.spense__container__image, .yelpcamp__container__image{
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

.spense__container__image img, .yelpcamp__container__image img{
    width: 100%;
    padding-bottom: 20px;
}

.experience__container{
    background-color: var(--secundary-bg-color);
    padding: var(--padding-header);
}

.experience__container h2{
    font-size: var(--font-size-default--title);
    padding: 40px 0 10px 0;
}

.experience__container p{
    font-size: var(--font-size-default-text);
    color: var(--font-color-text);
    line-height: 25px;
}

.experience__container p:last-child{
   padding-bottom: 50px;
}

.experience__container b{
    font-weight: bolder;
}

.experience__container i{
    font-style: italic;
}


.contact__container{
    padding: var(--padding-default);
}


.contact__container h2{
    font-size: var(--font-size-default--title);
    padding: 60px 0 10px 0;
    line-height: 40px;
}

.contact__container p{
    font-size: var(--font-size-default-text);
    color: var(--font-color-text);
    line-height: 25px;

}

.contact__container button{
    background-color: #FFFF66;
    padding: 14px 24px 14px;
    border-style: none;
    margin: 18px 0 50px;
    font-size: 14px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.8);
}

.footer__container{
    padding: var(--padding-default);
    background-color: var(--secundary-bg-color);
    color: var(--font-color-text);
    font-size: var(--font-size-default--name);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    gap: 70px;
}

.social__container{
    display: flex;
    gap: 10px;
}


